.arrow {
    padding-bottom:30px;

    @include breakpoint(tablet) {
        position: sticky;
        bottom: 0;
        display: flex;
        justify-content: flex-end;
        width: 98%;     /*width of whole div*/
    }
}