/*controls for slider and carousel*/

.dots {
    width: 60px;
    display: flex;
    justify-content: space-between;

    .dot {
        background-color:$lightGray;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        cursor: pointer;

        @include breakpoint(mobile_m) {
            width:10px;
            height:10px;
        }
    
        &:hover {
            background-color: $red;
        }
    }

    @include breakpoint(mobile_m) {
        width: 70px;
    }
}

.arrows {
    width:100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    position:absolute;
    top:50%;
    padding: 0 15px;

    @include breakpoint(tablet) {
        height: 30px;
        padding: 0 40px;
    }

    .arrow {
        width: 20px;
        height: 100%;
        border:solid white;
        border-width: 0px 1px 1px 0;  
        transform:rotate(-45deg);
        cursor: pointer;

        @include breakpoint(tablet) {
            width: 30px;
        }

        &--left {
            transform: rotate(135deg);
        }

        &:hover {
            border:solid $red;
            border-width: 0px 1px 1px 0;
        }
    }

}

