/*item in dishes section*/

.dish {
    width: 100%;
    margin-bottom: 25px;

    @include breakpoint(mobile_landscape) {
        width: 48%;
    }

    @include breakpoint(desktop_min) {
        width: 23%;
    }

    &__image {
        width:100%;
        height:0;
        padding-bottom: 90%;
        position:relative;

        img {
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width:100%;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin:15px 0 10px;
    }

    &__like {
        text-align:left;
        font-size: 14px;
        display:flex;
        align-items: center;
        position: relative;

        &::before, &::after { 
            content: "\2661";
            font-size: 24px;
            margin-right: 5px;
            cursor: pointer;
        }

        &::before {                 /*stroke heart*/
            content: "\2661";
        }

        &::after {                  /*solid heart*/
            content: "\2665";
            position:absolute;
            left:1px;
            color:$red;
            opacity: 0;
        }
    }
}

