.table {
    font-size:16px;
    width:100%;

    @include breakpoint(tablet){
        width:48%;
    }

    &__item {
        @include font-aleo(400);
        color:$darkGray;
        letter-spacing: 1px;
    }


    &__ingredients {
        @include font-aleo(300);
        font-style: italic;
        color:$lightGray;
        padding-bottom:20px;

        @include breakpoint(desktop_min) {
            padding-bottom:60px;
        }
    }

}

/*modal appearing in js*/

.modal {
     .table {
        width: 50%;
        margin: auto;

        thead {
            padding:15px 0;

        }

        &__item {
            padding-top:20px;
        }

        &__ingredients {
            border-bottom: 1px solid $lightGray;
            padding-bottom:20px;

        }
    }
}