.table {
    font-size:16px;
    width:100%;

    @include breakpoint(tablet){
        width:48%;
    }

    &__item {
        @include font-aleo(400);
        color:$darkGray;
        letter-spacing: 1px;
    }


    &__ingredients {
        @include font-aleo(300);
        font-style: italic;
        color:$lightGray;
        padding-bottom:20px;

        @include breakpoint(desktop_min) {
            padding-bottom:60px;
        }
    }

}

/*modal appearing in js*/

.modal {
    display: none;
    background-color:rgba(8, 8, 8, 0.9);
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 100;
    padding:70px 0;
    overflow-y: auto;

    &__wrap {
        max-width: 748px;
        width: 90%;
        margin: auto;
        background-color: white;
        padding: 30px;

        @include breakpoint(tablet){
            padding: 20px 20px 50px;
        }

    }

    &__icon {
        width: 20px;
        height: 20px;
        margin-left: auto;
        margin-bottom: 10px;
        position: relative;


        &::before, &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            position:absolute;
            bottom:50%;
            left:0;
            background-color: $darkerGray;
            cursor: pointer;

        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }

        &:hover {
            &::before, &::after {
                background-color: $red;
            }
        }
    }

    &__image {
        margin-bottom: 53px;
    }

    .table {
        max-width: 494px;
        width: 100%;
        margin:auto;
        border-collapse: collapse;

        thead {
            .table__item {
                padding:15px 0;
            }
        }

        tbody {
            .table__item {
                padding-top:20px;
                border-top: 1px solid $lightGray;
            }
        }
        

        &__ingredients {
            padding-bottom:20px;
            
        }
    }

}