/*navigation*/

nav {
    display: none;
    align-items: center;
    justify-content: center;
    text-align:center;

    @include breakpoint(desktop_min) {
        display: block;
        width:45%;
        position: relative;
        background: transparent;
    }

    @include breakpoint(desktop_large) {
        width:40%;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        li {
            @include font-aleo(400);
            letter-spacing: 1px;
            width:100%;
            padding:20px 0;

            @include breakpoint(desktop_min) {
                width: 25%;
            }
        }

        a {
            border:1px solid;
            border-color:transparent;
            border-left-width: 0px;
            border-right-width: 0px;
            font-size:20px;
            color:white;
            padding:10px 12px;

            @include breakpoint(desktop_min) {
                font-size:14px;
                color:$darkerGray;
            }

            &:hover {
                border-color:$darkerGray;
                color:$darkerGray;

                @include breakpoint(desktop_min) {
                    border-color:$red;
                    color:$red;
                }

            }
            
        }
    }
}

/*adding class to navigation in js*/

.open {
    @include modal($red);
    display: flex;
}

