/*navigation*/

nav {
    display: none;

    @include breakpoint(desktop_min) {
        display: block;
        width:45%;
        position: relative;
        background: transparent;
    }

    @include breakpoint(desktop_large) {
        width:40%;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        li {
            @include font-aleo(400);
            letter-spacing: 1px;
            width:100%;
            padding:20px 0;

            @include breakpoint(desktop_min) {
                width: 25%;
            }
        }

        a {
            @include navBorder(transparent);
            font-size:20px;
            color:white;
            padding:10px 12px;

            @include breakpoint(desktop_min) {
                font-size:14px;
                color:$darkerGray;
            }

            &:hover {
                @include navBorder($darkerGray);
                color:$darkerGray;

                @include breakpoint(desktop_min) {
                    @include navBorder($red);
                    color:$red;
                }

            }
            
        }
    }
}

/*adding class in js*/

.open {
    position: fixed;
    top: 0;
    left: 0;
    background: #f34949;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;   
}
