//style for lightbox

.lightbox {
    @include modal($opacityBlack);

    .icon {
        top:20px;
        right: 20px;
    }

    &__image {
        width:100%;
        position:relative;

        img {
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
        }
    }

    .arrows {
        z-index: 1;
    }

}