*{
    box-sizing: border-box;
}

body {
    @include reset;
    text-align: center;

    @include breakpoint(tablet) {
        text-align: left;
    }
}

.header__wrap, .wrapper, .footer__wrap {
    width: 85%;
    max-width: 1100px;
    margin:auto;
    position:relative;

    @include breakpoint(mobile_landscape) {
        width:90%;
    }

    @include breakpoint(desktop_min) {
        width:87%;
    }
}