h1 {
    font-family: 'WC Mano Negra Bta', sans-serif;
    font-size: 51px;
    color:white;
    line-height: 1.2em;
}

h2 {
    @include font-aleo(300);
    font-size: 35px;
    color:$darkGray;
    padding-bottom: 30px;
}

h3 {
    @include font-aleo(700);
    font-size: 20px;
    color:$darkerGray;
    text-transform: uppercase;
    margin-bottom:40px;
}

h4 {
    @include font-aleo(700);
    font-size: 18px;
    color:$darkGray;
}

p, li {
    @include font-aleo(300);
    font-size: 16px;
    color:$darkGray;
    line-height: 1.8em;
}

a {
    text-decoration:none;
}


ul {
    @include list-reset;
}

blockquote {
    @include font-aleo(400);
    font-style: italic;
    font-size:24px;
    line-height: 1.5em;
    margin:50px 0;
    color:$darkGray;
    position: relative;
    
    &::before, &::after {
        @include font-aleo(400);
        font-style:italic;
        font-size: 128px;
        color: $lightGray;
        position: absolute;
    }

    &::before {
        content:'\201C';
        top: 15px;
        left: -10px;
    }

    &::after {
        content:'\201E';
        bottom: 15px;
        right: -20px;

    }
    
}

