h1 {
    font-family: 'WC Mano Negra Bta', sans-serif;
    font-size: 51px;
    color:white;
    line-height: 1.2em;
}

h2 {
    @include font-aleo(300);
    font-size: 40px;
    color:$darkGray;
}

h3 {
    @include font-aleo(700);
    font-size: 20px;
    color:$darkerGray;
}

p, li {
    @include font-aleo(300);
    font-size: 16px;
    color:$darkGray;
}

ul {
    @include list-reset;
}


