h1 {
    font-family: 'WC Mano Negra Bta', sans-serif;
    font-size: 51px;
    color:white;
    line-height: 1.2em;
    text-align: center;
    @include breakpoint(tablet) {
        font-size: 80px;
    }
}

h2 {
    @include font-aleo(300);
    font-size: 35px;
    color:$darkGray;
    padding-bottom: 30px;

    @include breakpoint(tablet) {
        padding-bottom: 40px;
        font-size: 40px;
    }
}

h3 {
    @include font-aleo(700);
    font-size: 20px;
    color:$darkerGray;
    text-transform: uppercase;
    margin-bottom:50px;

    @include breakpoint(desktop_min){
        margin-bottom: 60px;
    }
}

h4 {
    @include font-aleo(700);
    font-size: 18px;
    color:$darkGray;
    text-align:left;
}

p, li {
    @include font-aleo(300);
    font-size: 16px;
    color:$darkGray;
    line-height: 1.8em;
}

a {
    text-decoration:none;
}


ul {
    @include list-reset;
}

blockquote {
    @include font-aleo(400);
    font-style: italic;
    font-size:24px;
    line-height: 1.5em;
    margin:50px auto;
    color:$darkGray;
    position: relative;
    text-align: center;

    @include breakpoint(mobile_l) {
        width:80%;
    }

    @include breakpoint(tablet) {
        margin: 70px auto 0;
    }

    @include breakpoint(desktop_min) {
        font-size:28px;
    }

    
    &::before, &::after {
        @include font-aleo(400);
        font-style:italic;
        font-size: 128px;
        color: $lightGray;
        position: absolute;
    }

    &::before {
        content:'\201C';
        top: 10px;
        left: -10px;

        @include breakpoint(mobile_landscape) {
            left: -40px;
        }

        @include breakpoint(tablet) {
            left: -10px;
        }

        @include breakpoint(desktop_large) {
            left: -40px;
        }

    }

    &::after {
        content:'\201E';
        bottom: 10px;
        right: -20px;
        @include breakpoint(mobile_l) {
            right: 0px;
        }

        @include breakpoint(mobile_landscape) {
            right: -40px;
        }

        @include breakpoint(tablet) {
            right: -20px;
        }
    }
  
}

td {
    text-align: left;
}

