.dishes {
    padding:50px 0;

    &__wrap {
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    &__title {
        @include line;
        
    }

    @include breakpoint(tablet) {
        padding:70px 0;
    }

    @include breakpoint(desktop_min) {
        padding:100px 0;
    }

   
}