/*dishes section*/

.dishes {
    padding: $sectionMobile;
   

    @include breakpoint(tablet){
        padding:$sectionPadding;
    }

    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom:50px;
    }

    &__wrap {
        display: grid;
        grid-template-columns: 100% 100% 100% 100%;
        overflow: hidden;
        grid-column-gap:25px;

        @include breakpoint(tablet) {
            grid-template-columns: 48% 48%;
        }

        @include breakpoint(desktop_min) {
            grid-template-columns: 24% 24% 24% 24%;
        }
    }
    
    &__title {
        @include line;
        margin-bottom:0;

        &::before {
            content:none;
        }

        text-align:left;
        
    }

    @include breakpoint(tablet) {
        padding:70px 0;
    }   
}