.dishes {
    padding:50px 0;

    &__wrap {
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    &__title {
        text-align: left;
        
        @include breakpoint(tablet){
              @include line;
          }
        
    }

    @include breakpoint(tablet) {
        padding:70px 0;
    }

   
}