.footer {
    background-color: $darkerGray;
    padding:50px 0 20px;
    
    li, a {
        color:white;
    }

    ul {
        padding-bottom:30px;
    }

    &__logo {
        margin-bottom:10px;
    }
}