.footer {
    background-color: $darkerGray;
    padding:50px 40px 20px; 
    
    @include breakpoint(tablet) {
        padding:60px 80px 20px; 
    }

    &__wrap {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        flex-wrap: wrap;

    }

    &__column {
        width:100%;
        text-align: center;
        
        @include breakpoint(mobile_landscape) {
            width: 50%;
        }

        @include breakpoint(desktop_min) {
            width: 25%;
            text-align: left;
        }
    }


    &__logo {
        margin-bottom:10px;
    }

    ul {
        padding-bottom:30px;
    }

    li, a {
        color:white;
    }

  


}