/*gallery section*/

.gallery {
    padding:$sectionMobile;

    @include breakpoint(tablet){
        padding:$sectionPadding;

    }

    &__title {
        @include line;
    }

    &__wrap {
        @include breakpoint(tablet) {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: 50% 50%;
        }

        @include breakpoint(desktop_min) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &__overlay {
        position:absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
    }


    &__image {
        width:100%;
        height: 0;
        padding-bottom:58%;
        position:relative;
        overflow: hidden;
        cursor: pointer;   
        &:first-of-type {
            padding-bottom:100%;
            
            @include breakpoint(tablet){
                grid-column: 1/3;
            }

            @include breakpoint(desktop_min){
                grid-column: 1/2;
                grid-row:1/3;
                height: auto;
                padding:0;
            }

        }

        img {
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            width: 100%;
            transition: transform .3s ease;
        }

        

        &:hover {
            .gallery__overlay {
                background: rgba(0,0,0,0.5) url(../images/search-icon.png) center/30px no-repeat;
            }

            img {
                transform: translate(-50%, -50%) scale(1.1);
                transform-origin: center;
            }
        }
    }

    
}