.header {
    height:66px;
    display: flex;
    align-items:center;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
    
    
    &__logo {
        width:80px;
    }

    &__icon {
        margin:8px 0;
        z-index: 100;

        @include breakpoint(desktop_min) {
            display: none;
        }
    }

    &__bar {
        height:2px;
        width: 28px;
        background-color:$darkerGray;
    
        &:nth-child(even){
            margin:5px 0;
        }
    
    }

    @include breakpoint(desktop_min) {
        height: 110px;
    }

   
}