/*menu section*/

.menu {
    text-align: center;
    padding-bottom:30px;

    @include breakpoint(tablet){
        padding-bottom: 50px;
    }
    
    &__title {
        background-color: $red;
        color:white;
        width: 160px;
        margin: 0 auto 30px;
        padding: 25px 0 35px;
        position:relative;
        text-transform: capitalize;

        &::after {
            content:"";
            display: block;
            border: solid transparent;
            border-width: 10px 80px;
            border-bottom-color: white;
            position:absolute;
            bottom:0;
        }        

        @include breakpoint(tablet) {
            margin: 0 auto 50px;
          }

        @include breakpoint(desktop_min) {
            margin: 0 auto 70px;
          }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__button {
        @include font-aleo(400);
        font-size:14px;
        background-color:$red;
        color:white;
        border:none;
        margin:30px 0;
        padding:15px 25px;
        letter-spacing: 1px;
        cursor: pointer;
        &::after {
            content: "";
            width: 5px;
            height: 5px;
            display: inline-block;
            border:solid white;
            border-width: 0 1px 1px 0;
            transform:rotate(45deg);
            margin-bottom: 3px;
        }

        /*remove outline on click*/

        &:focus {
            outline:none;
        }

        @include breakpoint(desktop_min) {
            margin: 10px 0px;
        }
    }

    /*horizontal line in button*/

    span {
        padding: 0 15px;
    }

}