@import "abstracts/variables";
@import "abstracts/mixins";

@import "layout/media";
@import "layout/header";
@import "layout/banner";
@import "layout/menu";
@import "layout/dishes";
@import "layout/about";
@import "layout/gallery";
@import "layout/footer";

@import "base/fonts";
@import "base/typography";

@import "components/navigation";
@import "components/menu-table";
@import "components/dishes-item";
@import "components/photoGallery";
@import "components/arrow-top";



*{
    box-sizing: border-box;
}

body {
    @include reset;
    text-align: center;

    @include breakpoint(tablet) {
        text-align: left;
    }
}

main, .header__wrap, .footer__wrap {
    width: 85%;
    max-width: 1100px;
    margin:auto;
    position:relative;

    @include breakpoint(mobile_landscape) {
        width:90%;
    }

    @include breakpoint(desktop_min) {
        width:87%;
    }
}